[% 
    setting_descs.board_chooser = "Board to choose first when entering PAMBAAN screen",
    setting_descs.default = "Always choose the Default Board",
    setting_descs.last    = "Last Board chosen",
    setting_descs.none    = "Never choose a Board",
%]
