[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Example Plugin.
  #
  # The Initial Developer of the Original Code is Canonical Ltd.
  # Portions created by Canonical Ltd. are Copyright (C) 2009
  # Canonical Ltd. All Rights Reserved.
  #
  # Contributor(s): 
  #     Marco Pauls <info@mgp-it-de>
  #%]
  
[% PROCESS "global/field-descs.none.tmpl" %]

[% IF pambaan_board.id %] 
[% subheader = BLOCK %]Editing existing [% terms.board +%] &laquo;[% pambaan_board.name FILTER html %]&raquo; [% END %]
[% ELSE %] 
[% subheader = BLOCK %]Editing new [% terms.board %] [% END %]
[% END %]

[% PROCESS global/header.html.tmpl
    title = title
    subheader = subheader
%]

<!-- -------------------- This is editboard.html ------------------------------ -->

    <h2>[% IF pambaan_board.id -%]
        [% terms.Board %] &laquo;[% pambaan_board.name %]&raquo;
    [% ELSE -%]
        New [% terms.Board %]
    [% END -%]</h2>    
    <form id="editboard" method="post" action="[% urlbase FILTER html IF full_url %][% 'page.cgi?id=pambaan/boards.html' FILTER url %]">
        <input type="hidden" name="token" value="[% token FILTER html %]">
        <table class="pambaan_styled_table header_in_column">
            <tr><th>ID</th>                 
                <td class="idcol">[% pambaan_board.id %][%IF pambaan_board.id %]<input type="hidden" id="board_id" name="board_id" value="[%pambaan_board.id%]"/>[% END %]</td>
            </tr>
            <tr><th><label for="name" title="Name of the board. Mandatory. Must be unique within your Bugzilla database.">Name</label></th>
                <td><input id="name" name="name" type="text" value="[% pambaan_board.name FILTER html %]" size="60" maxlength="127"/></td>
            </tr>
            <tr><th><label for="description" title="Description for the board. Mandatory.">Description</label></th>
                <td><textarea id="description" name="description" rows="3" cols="60">[% pambaan_board.description FILTER html %]</textarea></td>      
            </tr>
            <tr><th>&nbsp; [%# <label for="defaultBoard" title="Make this board the global default board.">Default?</label> %] </th>
                <td><input id="defaultBord" name="defaultBoard" type="checkbox" value="1" [% 'checked' IF pambaan_board.defaultBoard %]/>
                 Make this board the default board.
                </td>
            </tr>
            <tr><td colspan="2" class="tableseparatorrow">Additional [% $terms.bug %] selection restrictions</td></tr>

            <tr><th>&nbsp;<span title="Define how to deal with blocked [% terms.bugs %] in a [% terms.Lane %]">Blocked [% terms.Bugs %] handling</span></th>
                <td>
                    <input id="blocked_bugs_handling_DISPLAY" name="blocked_bugs_handling" type="radio" value="DISPLAY"
                     title="Display all matching [% terms.bugs %]" [% 'checked' IF pambaan_board.blocked_bugs_handling == 'DISPLAY' %]>
                        <label for="blocked_bugs_handling_DISPLAY" 
                     title="Display all matching [% terms.bugs %]">Display</display>
                
                    <input id="blocked_bugs_handling_NONCONTRIBUTING" name="blocked_bugs_handling" type="radio" value="NONCONTRIBUTING"
                     title="Show all blocked [% terms.bugs %] but let them not contribute to the Work in Progress for a [% terms.lane %]." [% 'checked' IF pambaan_board.blocked_bugs_handling == 'NONCONTRIBUTING' %]>
                        <label for="blocked_bugs_handling_NONCONTRIBUTING" 
                     title="Show all blocked [% terms.bugs %] but let them not contribute to the Work in Progress for a [% terms.lane %].">Non Contributing</label>
                
                    <input id="blocked_bugs_handling_HIDE" name="blocked_bugs_handling" type="radio" value="HIDE"
                     title="Hide all [% terms.bugs %] which are blocked by at least one bug." [% 'checked' IF pambaan_board.blocked_bugs_handling == 'HIDE' %]>
                        <label for="blocked_bugs_handling_HIDE" 
                     title="Hide all [% terms.bugs %] which are blocked by at least one bug.">Hide</label>
                </td> 
            </tr>

            <tr><th>&nbsp;<span title="Define if the Board should display only those [% terms.bugs %] where the current user is the assignee.">Assignee Restriction</span></th>
                <td>
                    <input id="restrict_to_assignee_currusr_YES", name="restrict_to_assignee_currusr" type="radio" value="Y" [% 'checked' IF pambaan_board.restrict_to_assignee_currusr == 'Y' %]
                     title="Yes. Restrict the [% terms.bugs %] fetched to those [% terms.bugs %] where the current user is the assignee">
                     <label for="restrict_to_assignee_currusr_YES"
                     title="Yes. Restrict the [% terms.bugs %] fetched to those [% terms.bugs %] where the current user is the assignee">Yes</input>
                
                    <input id="restrict_to_assignee_currusr_NO", name="restrict_to_assignee_currusr" type="radio" value="N" [% 'checked' IF pambaan_board.restrict_to_assignee_currusr == 'N' %]
                     title="No. Use standard behaviour and display all the [% terms.bugs %] where the current has access">
                     <label for="restrict_to_assignee_currusr_NO"
                     title="No. Use standard behaviour and display all the [% terms.bugs %] where the current has access">No</input>
                </td>
            </tr>
        </table>
        
        [%IF pambaan_board.id -%]
        <button type="submit" name="action" value="updateboard">Save Changes</button>
        [% ELSE -%]
        [% IF ( NOT pambaan_board.has_lanes ) %]
            [% PROCESS quickedit_lane %]    
        [% END %]     
        <button type="submit" name="action" value="addboard">Add</button>
        [% END -%]
   
    </form>

    [%# Display the list of lanes for this board in list mode %]
    [%IF pambaan_board.id %]
        [% PROCESS pambaan/listlanes.html.tmpl  editmode=0 action=$action %] 
        [% PROCESS pambaan/listgroups.html.tmpl editmode=0 action=$action %] 
    [% END %]
    <hr/>
    <p>
    Edit <a href="[% urlbase FILTER html IF full_url %][% 'page.cgi?id=pambaan/boards.html' FILTER url %]">other [% terms.boards %]</a>.
    </p>
   

    [% BLOCK quickedit_lane %]
        <h3>Also enter the [% terms.Board %]'s first [% terms.Lane %]</h3>
        
        [% PROCESS pambaan/editlane_edit.html.tmpl %]

    [% END %]

<!-- -------------------- This is editboard.html ------------------------------ -->

[% PROCESS global/footer.html.tmpl %]
