[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Example Plugin.
  #
  # The Initial Developer of the Original Code is Canonical Ltd.
  # Portions created by Canonical Ltd. are Copyright (C) 2009
  # Canonical Ltd. All Rights Reserved.
  #
  # Contributor(s): 
  #     Marco Pauls <info@mgp-it-de>
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% title = BLOCK %] [% terms.PAMBAAN %][% END %]

[% PROCESS global/header.html.tmpl
    title = title
%]

[%# PROCESS bug/time.html.tmpl %]

<!-- -------------------- This is pambaanboard.html ------------------------------ -->
        
            <div id="pambaanboard_header">

                <form id="board_selection_form" method="GET" action="[% urlbase FILTER html IF full_url %]page.cgi">
                <input type="hidden" name="id" value="pambaan/pambaanboard.html"/>
                <label for="pambann_board_selector">You are currently viewing [% terms.Board %]</label>
                [% number_of_boards_available = 0 %]
                [% number_of_boards_available = number_of_boards_available + (all_pambaan_boards.global.size   || 0) %]
                [% number_of_boards_available = number_of_boards_available + (all_pambaan_boards.personal.size || 0) %]
                [% IF number_of_boards_available > 1 %]
                    <select id="pambaan_board_selector" name="current_board_id" onchange="this.form.action.click()">
                        [% IF all_pambaan_boards.global.size > 0 %]
                        <optgroup label="Global Boards" class="pambaan_global">
                            [% FOREACH b IN all_pambaan_boards.global %]
                            <option value="[% b.id %]" [% 'selected' IF b.id == current_pambaan_board.id %]>[% b.name %]</option>
                            [% END %]
                        </optgroup>
                        [% END %]
                        [% IF all_pambaan_boards.personal.size > 0 %]
                        <optgroup label="Personal Boards" class="pambaan_personal">
                            [% FOREACH b IN all_pambaan_boards.personal %]
                            <option value="[% b.id %]" [% 'selected' IF b.id == current_pambaan_board.id %]>[% b.name %]</option>
                            [% END %]
                        </optgroup>
                        [% END %]
                    </select> 
                    <button type="submit" name="action" value="changeboard"><img src="./extensions/PAMBAAN/web/images/refresh.png"></button>
                [% ELSE %]
                    <input id="pambaan_board_selector" type="text" class="[% current_pambaan_board.is_global ? 'pambaan_global' : 'pambaan_personal' -%]" 
                    value="[% current_pambaan_board.name %]" readonly />
                [% END %]
                </form>
            </div>
            
            <div id="pambaanboard">
            [% lanes = current_pambaan_board.lanes %]
            [% FOREACH lane IN lanes %]
                [% PROCESS a_lane %]               
            [% END %]
            
            </div>

<!-- --------------------  End of pambaanboard.html ------------------------------ -->


[% BLOCK a_lane %]
            <div id="lane[% loop.count %]" class="pambaanboard_lane withbugcount [%+ 'pambaan_grow_' _ lane.space_occupied_text IF lane.space_occupied %]">
            [% IF lane.is_personal %]
                <span class="bugcount" title="This [% terms.lane %] is restricted to [% terms.bugs %] which are assigned to me.">
                <img alt="filter" src="[% urlbase FILTER html IF full_url %]extensions/PAMBAAN/web/images/person.png"/></span>[% END %]
            [% IF lane.bugs_hidden %]
                <span class="bugcount" title="[% lane.bugs_hidden %] blocked [%+ lane.bugs_hidden==1 ? terms.bug : terms.bugs %] hidden.">
                <img alt="filter" src="[% urlbase FILTER html IF full_url %]extensions/PAMBAAN/web/images/filter2.png"/></span>[% END %]
        [% IF lane.has_bugs %]

            [% IF lane.is_warning  %]
                <span class="bugcount" title="You should not have more than [% lane.wip_warning_threshold %] [%+ terms.bugs %] in this [% terms.lane %]">
                <img alt="warn" src="[% urlbase FILTER html IF full_url %]extensions/PAMBAAN/web/images/attention.png"/></span>[% END %]
            [% IF lane.is_overload %]
                <span class="bugcount" title="You must not have more than [% lane.wip_overlaod_threshold %] [%+ terms.bugs %] in this [% terms.lane %]">
                <img alt="stop" src="[% urlbase FILTER html IF full_url %]extensions/PAMBAAN/web/images/stop.png"/></span>[% END %]
           <span class="bugcount">[% lane.bugcount %]</span>
        [% END %]
                    [% lanetitle='This is "' _ lane.name _ '" populated by "' _ lane.namedquery_name _ '".' %]
                    <div class="pb_laneheader [% PROCESS a_color %] title='[% lanetitle %]'>
                        <div class="pb_lanebuttons">&ominus;</div>
                        <h2>[% lane.name %]</h2>
                    </div>
                    <ul class="pb_lanecontent">
                      [% bugs = lane.bugs %]
                      [% FOREACH lanebug IN bugs %]
                        [%+ PROCESS pambaan/card.html.tmpl bug=lanebug lanedef=lane +%]
                      [% END %] 
                    </ul> 
            </div>


[% END %]


[% BLOCK a_color -%]
    [% colordef = lane.color_type %]
    [% IF colordef.type == 'CSS Class' %]
        [% colordef.value %]"
    [% ELSE -%]
        " style="background-color: [% colordef.value %]"
    [% END -%]
[% END -%]

</div></body>
[%# PROCESS global/footer.html.tmpl %]
